@CHARSET "ISO-8859-1";

body {
    background-color: lightblue;
}

h3 {

    font-family: Copperplate / Copperplate Gothic Light, sans-se;
}

h2 {

    font-family: Copperplate / Copperplate Gothic Light, sans-se;
}